*{
    text-align: center;
    color: black;
}

.topnav{
    background-color: lightgrey;
    padding: 20px;
}

.t2{
    background-color: lightgrey;
}

.t1{
    padding-left: 10px;
    padding-right: 10px;
}